/*-----------------------------------------------------------------------------------

  Author: Teodors ZeltiÅ†Å¡;

-------------------------------------------------------------------------------------

  1.  Document Setup
  2.  Header Styles
  3.  Navigation & Menus
  4.  Main
  5.  Responsive

-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*  0.  CSS Reset & Clearfix - http://meyerweb.com/eric/tools/css/reset/
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1.4; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */


/*-----------------------------------------------------------------------------------
  1.  Document Setup
-----------------------------------------------------------------------------------*/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  color: #444;
  outline: 0 !important;
}
body { 
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -khtml-font-smoothing: antialiased;
  background: #fff;
  color: #555;
}
img { display: block; }
body, img {  /* Resizing Transitions, for Responsive demo */
  transition:all .2s ease-in-out;  
  -o-transition:all .2s ease-in-out;  
  -moz-transition:all .2s ease-in-out;  
  -webkit-transition:all .2s ease-in-out; 
}
#wrapper {
  display: block;
  width: 100%;
  height: 100%;
  background: #efefef;
}
#logo {
  color: #69245B;
  font-size: 32px;
  font-weight: bold;
  display: block;
  position: absolute;
  width: 600px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-family: "Varela Round", Arial;
  top: 50%;
  left: 50%;
  margin: -80px 0 0 -300px;
}
#wrapper p {
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  margin: 5px 0 0 -250px;
  text-align: center;
}
.container {
  width: 960px;
  margin: 200px auto 110px auto;
  clear: both;
  overflow: hidden;
}
.scroll-page {
  width: 100%;
  height: 100%;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
}


/*-----------------------------------------------------------------------------------
  2.  Header
-----------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------
  3.  Navigation
-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------
  4.  Main
-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------
  5.  Responsive
-----------------------------------------------------------------------------------*/





